@font-face {
    font-family: 'Belota-Lightitalic';
    src: url('../fonts/bellota/Bellota-LightItalic.otf');
}

@font-face {
    font-family: 'Belota-Bolditalic';
    src: url('../fonts/bellota/Bellota-BoldItalic.otf');
}

form {
    text-align: center;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    background-image: url("../images/backgrounds/top_view.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 950px;
}

.login_box {
    font-family: 'Belota-Lightitalic', sans-serif;
    position: relative;
    top: 7%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    padding: 5px;
    opacity: 0.98;
}

.login_header {
    font-family: 'Belota-Lightitalic', sans-serif;
    width: 100%;
    height: 90px;
    background-color: #5333ed;
    color: #ffffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
}

.login_header h1 {
    font-family: 'Belota-Bolditalic', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #010210;
    text-shadow: 0.5px 0.5px #3a2f2f;
    font-size: 250%;
}

input[type="submit"] {
    background-color: #5333ed;
    border-radius: 3px;
    border: 1px solid #5333ed;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    text-shadow: 0.5px 0.5px #3a2f2f;
    font-family: 'Belota-Bolditalic';
    font-size: 100%;
    text-shadow: 0.5px 0.5px #3a2f2f;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border-color: #5333ed;
}

a {
    text-decoration: none;
    color: #5333ed;
}

#second {
    display: none;
}